*{ /* estilo de la pagina */
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: Century Gothic;
}

body{ /*color de fondo de pagina*/
	background: white;
}

header{ /*estilo para el encabezado*/
	background: white;
	width: 100%;
	position: relative;	
}

header figure{ /*estilo para el logo*/
	text-align: center;
	width: 10%;
	margin: 500;
}

header figure img{ /*ancho del logo*/
	width: 100%;
}

header nav{ /*esstilo para el menu*/
	width: 70%;
	right: 200px;
	top: 1px;
	position: absolute;
}

header nav ul{ /*ancho para cada opcion del menu*/
	width: 148%;
}

header nav ul li{ /*estilo para las opciones del menu*/
	width: 14%;
	padding: 2% 0 2% 0;
	float: left;
	color: black;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	border-right: 1px white solid; 
	background: #999;
}

article h2{
	text-align:center;
	style="color: black; 
	font-size:20px; 
}